.symbol{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.symbol img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.symbol span{
    font-weight: 600;
    font-size: 1.2rem;
    color: #9fa6b7;
}
.green{
    color: #57bc7c;
}
.red{
    color: #d33636;
}